body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#root {
  position: relative;
  overflow-x: hidden;
}
#scrollUp {
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 45px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  transform: translateX(-80px);
  transition: all 0.3s;
  border-radius: 50%;
}
/* Header */
header {
  position: relative;
  height: auto;
  z-index: 1;
}

.header__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0 19%;
  height: auto;
}
.header__nav {
  margin-bottom: 50px;
}
.header__nav ul.header__nav {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14%;
  height: 42px;
}
.header__nav ul.main_navMobil {
  display: none;
}
.header__nav img {
  cursor: pointer;
}

.header__nav ul.main_nav {
  display: flex;
  position: relative;
  transition: 0.3s;
  padding: 0;
}
.header__nav ul.main_nav li {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  position: relative;
  line-height: 1;
  cursor: pointer;
}
.header__nav ul.main_nav li::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  content: "";
  transition: width 0.3s ease-out;
  background-color: #000;
}
.header__nav ul.main_nav li:hover::after,
.header__nav ul.main_nav li:focus::after {
  width: 100%;
}
.header__nav ul.main_nav li {
  text-decoration: none;
  list-style-type: none;
}
.header__nav .header__main__language {
  display: none;
}
.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header__main img.girl {
  position: absolute;
  width: 60%;
  bottom: 0;
  right: -1.6%;
}
.header__main__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  width: 55%;
}
.header__main__text img {
  width: 100%;
}
.header__main__text p {
  font-weight: 500;
  color: #aa4d54;
  font-size: 20px;
}
.header__main__text span {
  padding: 15px 20px;
  text-align: center;
  color: #aa4d54;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 8px #a74650;
  cursor: pointer;
  transition: 0.3s;
  width: 25%;
  text-decoration: none;
}
.header__main__text span:hover {
  box-shadow: 0px 0px 4px #a74650;
}
.header__main__sn {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  z-index: 2;
}
.header__main__language {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.header__main__language input {
  display: none;
}
.header__main__language input:checked + label {
  color: #a74650;
}
.header__main__language label {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  margin: 10px 0;
}
.header__main__language hr {
  width: 70%;
  border-top: 1px solid #fff;
}
.header__main__sn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__main__sn a {
  margin-bottom: 20px;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eacbae;
  z-index: -1;
}
img.header__bg__left_top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
img.header__bg__left_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
img.header__bg__right_top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/* Services */

p.title {
  font-size: 36px;
  font-family: "Prata", serif;
  text-align: center;
  margin: 0;
  padding: 15px 0 32px 0;
}

section.services {
  position: relative;
  width: 100%;
  background: #f9f5f1;
  padding: 32px 0;
}
.services__wrap {
  display: flex;
  flex-direction: column;
  width: 88%;
  height: auto;
  margin: 0 0 0 auto;
}
.services__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4%;
  background: #fff;
}
p.services__box__article {
  font-size: 24px;
  font-family: "Prata", serif;
}
p.services__box__time {
  font-size: 18px;
  font-family: "Prata", serif;
}
.services__box .services__box_htmlForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
}
.services__box .services__box_htmlForm p {
  background: #fff;
  padding: 5px 40px;
  transform: translateY(100%);
}
.services__box:hover .services__box_htmlForm {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  opacity: 1;
}
.services__box img {
  width: 100%;
}
.services__box:focus {
  outline: none;
}
/* section.services .slick-initialized .slick-slide {
  display: flex;
} */
ul.slider_dots {
  display: flex !important;
  justify-content: space-between;
  list-style-type: none;
  width: 80%;
  padding-left: 5%;
}
ul.slider_dots li {
  flex: 1;
}
ul.slider_dots li button {
  width: 100%;
  border: none;
  outline: none;
  transition: 0.3s;
  background: #cdcdcd;
  height: 2px;
  font-size: 0;
}
ul.slider_dots li button:hover {
  background: #696969;
}
ul.slider_dots li[class="slick-active"] button {
  background: #696969;
}
section.services .slick-initialized .slick-slide {
  outline: none;
}
.srvice__lastSlide_opacity {
  position: absolute;
  height: 72.1%;
  width: 12.6%;
  background: #fff;
  bottom: 10.4%;
  right: 0;
  opacity: 0.6;
  transition: 0.2s;
}
.services__wrap .slick-prev,
.services__wrap .slick-next {
  top: 99.5%;
}
.services__wrap .slick-next {
  left: 2%;
  color: #000;
}
.services__wrap .slick-next::before {
  opacity: 1;
  color: #000;
}
.services__wrap .slick-prev {
  left: 0%;
  color: #000;
}
.services__wrap .slick-prev::before {
  opacity: 1;
  color: #000;
}

/* Portfolio */

.port__slider__mobil {
  display: none;
}
section.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portolio__wrap {
  position: relative;
  width: 77%;
}
.portfolio__section {
  position: relative;
}
.portfolio__toogle {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: -1;
}
.portfolio__toogle input {
  display: none;
}
/* .portfolio__toogle input:checked + label {
  color: #aa4d54;
} */
.portfolio__toogle label {
  margin: 0 2%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.portfolio__toogle .active {
  color:#aa4d54;
}
#portfolio__weeding {
  display: block;
}
#portfolio__night,
#portfolio__day {
  display: none;
}
.portfolio__slider {
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  width: 100%;
  padding-top: 50px;
  transition: 0.3s;
}
.portfolio__slide__wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  z-index: 0;
  transition: 0.3s;
}
.portfolio__slide__wrap img {
  width: 32%;
  margin: 5px;
}
.portfolio__slide__wrap img:nth-child(even) {
  height: 32.5%;
}
.portfolio__slide__wrap img:nth-child(5) {
  transform: translateY(-34%);
}
.port__slider {
  overflow-x: hidden;
}
ul#ul {
  position: relative;
  left: 0;
  display: flex;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
ul#ul li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  z-index: 0;
  transition: 0.3s;
}
ul#ul li img {
  width: 32%;
  margin: 5px;
}
ul#ul li img:nth-child(even) {
  height: 32.5%;
}
ul#ul li img:nth-child(5) {
  transform: translateY(-34%);
}
ul#ul1 {
  position: relative;
  left: 0;
  display: flex;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
ul#ul1 li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  z-index: 0;
  transition: 0.3s;
}
ul#ul1 li img {
  width: 32%;
  margin: 5px;
}
ul#ul1 li img:nth-child(even) {
  height: 32.5%;
}
ul#ul1 li img:nth-child(5) {
  transform: translateY(-34%);
}
.portfolio__slideButton {
  position: absolute;
  display: flex;
  align-items: center;
  right: 1%;
  top: 7%;
  z-index: 1;
  color: #000;
  font-size: 22px;
}
.portfolio__slideButton span {
  margin: 0 15px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.portfolio__slideButton p {
  margin: 0;
}
.portfolio__slideButton p.firstLetter {
  color: #a74650;
  font-size: 24px;
}
.portfolio__slideButton p.delimiter {
  margin: 0 5px;
}
section.portfolio .title__top_left,
section.portfolio .title__top_right {
  background: #f9f5f1;
}
.title__top_left,
.title__top_right {
  position: absolute;
  top: 0;
  height: 65px;
  width: 35%;
}
.title__top_left {
  left: 0;
}
.title__top_right {
  right: 0;
}

/* Courses */

section.courses {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcf0e4;
  padding: 0 0 6% 0;
  overflow: hidden;
}
.courses__wrap {
  width: 77%;
}
.courses__content {
  display: flex;
  width: 100%;
  padding-top: 6%;
}
.courses__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 30%;
  height: 432px;
  margin-right: 3%;
  padding: 2% 3%;
  z-index: 1;
}
.courses__box span {
  width: 115%;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
  height: 20%;
  font-family: "Prata", serif;
}
.courses__box ul {
  padding: 0;
  margin: 0;
}
.courses__box ul li {
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 15px;
}
.courses__box label.courses_btn {
  position: absolute;
  bottom: 5%;
  border: 1px solid #000;
  width: 60%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.courses__box label.courses_btn:hover {
  color: #fff;
  background: #000;
}
img.courses_bg {
  position: absolute;
  width: 36%;
  bottom: 0;
  right: 2%;
  z-index: 0;
}
section.courses .title__top_left,
section.courses .title__top_right {
  background: #fff;
}

/* About */

.about_title_desc {
  display: none;
}

section.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f5f1;
  padding: 160px 0 140px 0;
}
.about__wrap {
  width: 61%;
}
.about__contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about__box {
  position: relative;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  background: #fff;
  padding: 5% 10%;
  z-index: 1;
}
.about__box__title p {
  font-family: "Prata", serif;
  font-size: 24px;
  margin: 0 0 0 5%;
}
.about__box hr {
  border: none;
  border-bottom: 1px solid #f9f5f1;
  width: 40%;
  margin: 15px 0;
}
.about__box__text ul {
  margin: 0;
  padding: 0;
}
.about__box__text ul li {
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 25px;
}
.about__box__btn {
  display: flex;
  justify-content: center;
}
.about__box__btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
  width: 40%;
  height: 55px;
  transition: 0.3s;
  margin: 50px 0 20px 0;
}
.about__box__btn label:hover {
  background: #000;
  color: #fff;
}
.about__sn {
  margin-top: 20px;
}
.about__sn a {
  margin: 0 10px;
}
.about__sn a img {
  transition: 0.3s;
}
.about__sn a img:hover {
  transform: rotate(15deg);
}

.about__box img {
  position: absolute;
}
.about__box img.about_paint {
  top: 68%;
  left: -15%;
  width: 45%;
}
.about__box .about_photo {
  position: absolute;
  top: 6%;
  left: 93%;
  width: 77%;
  height: auto;
}
.about__box .about_photo img {
  position: relative;
  width: 100%;
  border: 10px solid #fff;
}
.about__box img.about_quotes {
  top: 2%;
  left: 5%;
  width: 5%;
}
section.about img.about_bg {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 0;
  width: 100%;
}

/* Reviews */

section.reviews {
  background: #fff;
  padding: 0;
}
section.reviews .services__box video {
  width: 97%;
  height: 100%;
}
section.reviews .services__box img {
  width: 100%;
  height: 100%;
}
section.reviews .title__top_left,
section.reviews .title__top_right {
  background: #f9f5f1;
}
.reviews__toogle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.rev__toogle_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.reviews__toogle input {
  display: none;
}
.reviews__toogle input:checked + label {
  color: #aa4d54;
}
.reviews__toogle label {
  margin: 0 4%;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.services__wrap hr {
  border: none;
  border-bottom: 1px solid #f9f5f1;
  margin: 30px 0;
}
.reviews__wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 900px;
  transition: 0.3s;
}
.reviews__wrap__videoReviews {
  position: absolute;
  transition: 0.3s;
}
.reviews__wrap__textReviews {
  position: absolute;
  transition: 0.3s;
}
.reviews__wrap .srvice__lastSlide_opacity {
  height: 81.4%;
  width: 14.6%;
  bottom: 11.7%;
}

/* Instagram */

section.instagram {
  background: #fff;
}
.instagram__title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.instagram__title p {
  font-size: 24px;
}
.instagram__title a {
  text-decoration: none;
  z-index: 1;
}
.instagram__title a span {
  font-family: "Prata", serif;
  font-size: 36px;
  color: #aa4d54;
}
.instagram__title img {
  position: absolute;
  top: 0;
  left: 1%;
}
section.instagram .srvice__lastSlide_opacity {
  width: 9.6%;
}
.insta__box {
  position: relative;
  width: 97%;
  height: 100%;
}
.insta__box a {
  height: 100%;
}
.insta__box img {
  height: 70%;
}
.insta__box:hover a.insta__box__bg_hover {
  background-color: rgba(0, 0, 0, 0.5);
}
a.insta__box__bg_hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}
a.insta__box__bg_hover img {
  width: 20%;
  height: 20%;
  z-index: 0;
  opacity: 0;
}
.insta__box:hover a.insta__box__bg_hover img {
  opacity: 1;
}

/* Form */

section.form {
  background: #fff;
}
.form__wrap {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.form__application,
.form_img {
  width: 48%;
}
.form__application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f5f1;
}
.form__application p.form_title {
  font-family: "Prata", serif;
  font-size: 36px;
  color: #aa4d54;
}
.form__application form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.form__application form input,
.form__application form select {
  width: 100%;
  height: 50px;
  text-align: center;
  text-align-last: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #787878;
  border: none;
  margin: 10px 0;
  outline: none;
}
.form__application form select option {
  text-align: center;
  text-align-last: center;
}
.form__application input[type="submit"] {
  padding: 10px 20px;
  color: #aa4d54;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 8px #a74650;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}
.form__application input[type="submit"]:hover {
  box-shadow: 0px 0px 4px #a74650;
}

.form_img img {
  width: 100%;
  height: 100%;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dcbfa5;
}
.footer__wrap {
  width: 77%;
}
.footer__logo {
  margin: 20px 0;
}
.footer__logo a {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
}
.footer__logo img {
  width: 100%;
}
.footer__nav {
  width: 70%;
  margin: 0 auto;
}
.footer__nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.footer__nav ul li {
  position: relative;
  text-decoration: none;
  line-height: 1;
  transition: 0.3s;
  cursor: pointer;
}
.footer__nav ul li::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  content: "";
  transition: width 0.3s ease-out;
  background-color: #fff;
}
.footer__nav ul li:hover::after,
.footer__nav ul li:focus::after {
  width: 100%;
}
.footer__nav ul li {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.footer__wrap hr {
  border: none;
  border-bottom: 0.5px solid #fff;
  margin: 20px 0 30px 0;
  opacity: 0.3;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__copywriting p {
  font-size: 18px;
  color: #fff;
}
.footer__copywriting p a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.footer__copywriting p a:hover {
  text-decoration: underline;
}
.footer__sn {
  display: flex;
}
.footer__sn a {
  margin: 0 15px;
}

/* Adaptation */

@media (max-width: 1300px) {
  .courses__box span {
    font-size: 18px;
  }
  .courses__box ul li {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .services__box {
    width: 95%;
  }
  .header__main__text a {
    width: 35%;
  }
}
@media (max-width: 1200px) {
  p.services__box__article {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  #root {
    overflow: hidden;
  }
  header {
    overflow: hidden;
  }
  .header__nav ul.main_nav {
    display: none;
  }
  .header__nav ul.main_navMobil {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    transition: 0.3s;
    z-index: 99;
    list-style: none;
    padding: 0;
  }
  .header__nav ul.main_navMobil a {
    color: #000;
  }
  .header__nav ul.main_navMobil a li {
    font-family: Raleway;
    font-size: 24px;
    margin: 20px 25px;
  }
  .header__nav ul.main_navMobil li.mobilMenuCross {
    align-self: flex-end;
    margin: 25px 25px 10px 0;
  }
  .header__wrap {
    padding: 5%;
  }
  img.header__bg__left_top {
    display: none;
  }
  img.header__bg__left_bottom {
    display: none;
  }
  img.header__bg__right_top {
    display: none;
  }
  .header__main {
    flex-direction: column;
  }
  .header__main__text {
    width: 74%;
  }
  .header__main__text span {
    width: 65%;
  }
  .header__main__text p {
    margin: 20px 0 30px 0;
  }
  .header__main__sn {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header__main__language {
    display: none;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
  .header__nav .header__main__language {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
    margin: 0;
  }
  .header__nav .header__main__language hr {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #fff;
    height: 20px;
    width: 1px;
  }
  .header__main img.girl {
    bottom: -7.8%;
    right: -56.3%;
    width: 116%;
  }
  .header__main__sn {
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
  }

  /* Services */
  .services__wrap {
    width: 95%;
  }
  .services__box {
    width: 95%;
  }
  .srvice__lastSlide_opacity {
    display: none;
  }
  p.services__box__article {
    font-size: 16px;
  }
  p.services__box__time {
    font-size: 14px;
  }
  .title__top_left,
  .title__top_right {
    display: none;
  }

  /* Portfolio */
  section.portfolio {
    background: #f9f5f1;
    padding-bottom: 30px;
  }
  .port__slider__mobil {
    display: block;
    margin-left: 6%;
  }
  .portolio__wrap {
    width: 100%;
  }
  .port__slider {
    display: none;
  }
  .portfolio__slideButton {
    display: none;
  }
  .slick-slide img {
    width: 95%;
  }
  .portfolio__toogle {
    display: flex;
    align-items: center;
    height: 65px;
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    margin-bottom: 30px;
    justify-content: unset;
  }
  .portfolio__toogle label {
    margin: 0;
    padding: 0 10px;
  }

  /* Courses */

  img.courses_bg {
    display: none;
  }
  .courses__wrap {
    width: 90%;
  }
  .courses__content {
    flex-direction: column;
  }
  .courses__box {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 20px;
    height: 363px;
  }
  .courses__box span {
    width: 100%;
  }

  /* about */

  img.about_bg {
    display: none;
  }
  .about__box img.about_quotes {
    top: 28%;
    left: 4%;
    width: 7%;
  }
  .about__wrap {
    width: 90%;
  }
  .about__contentWrap {
    width: 100%;
  }
  .about__box {
    max-width: 100%;
    padding: 200px 20px 30px;
  }
  .about_title_desc {
    display: block;
    padding: 15px 0 150px 0 !important;
  }
  img.about_paint {
    display: none;
  }
  .about__box .about_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24%;
    left: 26%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 300px;
    height: 300px;
  }
  .about__box .about_photo img {
    width: auto;
    height: 105%;
    margin: 0 auto;
  }
  .about__box__btn label {
    width: 70%;
  }
  .about__box__title p {
    margin: 0 0 0 10%;
  }

  /* reviews */
  .rev__toogle_wrap {
    width: 50%;
    height: 50px;
    user-select: none;
    background: #fff;
  }
  .reviews__toogle label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .reviews__wrap {
    height: 660px;
  }

  /* form */

  .form__wrap {
    width: 100%;
  }
  .form__application {
    width: 100%;
    padding-bottom: 40px;
  }
  .form_img {
    display: none;
  }
  .form__application form {
    width: 90%;
  }

  /* footer */

  .footer__logo a {
    width: 90%;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .footer__nav ul a li {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .footer__bottom {
    flex-flow: column;
    align-items: center;
    flex-direction: column;
  }
  .footer__copywriting {
    order: 2;
  }
  .footer__sn {
    order: 1;
  }
  .footer__sn a {
    width: auto;
    margin: 0 35px;
  }
  .footer__sn a img {
    width: 130%;
  }
  .footer__copywriting p {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .header__nav .header__main__language {
    width: 14%;
  }
  .header__main__text p {
    font-size: 14px;
  }
  .header__main__text a {
    width: 55%;
  }
  .header__main__sn {
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  /* about */
  .about__box .about_photo {
    top: -19%;
    left: 13%;
    width: 260px;
    height: 260px;
  }

  /* reviews */

  .reviews__wrap {
    height: 560px;
  }
  .header__nav .header__main__language {
    width: 20%;
  }
}

@media (max-width: 350px) {
  .header__nav .header__main__language {
    width: 22%;
  }
}

/*  A D M I N   */

.admin__wrap {
  min-height: 100vh;
}
.adminWrap {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20%;
}
label#AdminEditLabel {
  cursor: pointer;
  color: #197bbd;
  height: 40px;
  background: #fff;
  border: 2px solid #197bbd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 0 5px;
}
label#AdminEditLabel:hover {
  background: #197bbd;
  color: #fff;
}

.adminHeader {
  display: flex;
  height: 130px;
  background: #f9f5f1;
}
.ah__logo {
  height: 100%;
}
.ah__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcbfa5;
  height: 100%;
  width: 17%;
}
.ah__logo img {
  width: 90%;
  height: auto;
}

.adminLeftNav {
  position: fixed;
  top: 130px;
  left: 0;
  width: 17%;
  min-height: calc(100% - 130px);
  max-height: calc(100% - 130px);
  background: #f9f5f1;
  overflow-y: scroll;
}
.adminLeftNav ul {
  margin: 0;
  padding: 0;
}
.adminLeftNav ul li {
  font-size: 14px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.adminLeftNav ul li p {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 0 0 0 20px;
  height: 100%;
  border-bottom: 4px solid transparent;
  font-family: Open Sans;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
.adminLeftNav ul li p:hover {
  border-bottom: 4px solid #aa4d54;
  background: #fff;
  padding-left: 40px;
  font-weight: 600;
}
.adminLeftNav ul li p.active {
  border-bottom: 4px solid #aa4d54;
  background: #fff;
  padding-left: 40px;
  font-weight: 600;
}
label.adminToogle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcbfa5;
  color: #fff;
  width: 18%;
  height: 50px;
}

.admin__content__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-right: 3%;
}

/* Admin SocNet */

.socNetWrap {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  background: #f5f5f5;
  border: 1px solid #dcbfa5;
  box-sizing: border-box;
  padding: 40px;
}
.asn__box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 50px;
}
label.adminLabel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.asn__box input {
  width: 80%;
}
input.adminInput {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  height: 35px;
  outline: none;
  padding: 0 10px 0 10px;
}
textarea.adminInput {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  height: 35px;
  outline: none;
  padding: 0 10px 0 10px;
}
.socNetWrap button {
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  outline: none;
  border: 2px solid #aeaeae;
  box-sizing: border-box;
  color: #696969;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

/* Admin BTN */

button.adminADD {
  width: 130px;
  height: 36px;
  color: #197bbd;
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  border: 2px solid #1e7fc1;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
button.adminADD:hover {
  border-color: #fff;
  background: #1e7fc1;
  color: #fff;
}
button.adminSAVE {
  width: 130px;
  height: 36px;
  color: #aa4d54;
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  border: 2px solid #aa4d54;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
button.adminSAVE:hover {
  border-color: #fff;
  background: #aa4d54;
  color: #fff;
}
button.adminDELETE {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 130px;
  height: 36px;
  color: #e00013;
  font-weight: 600;
  font-size: 14px;
  background: #fff;
  border: 2px solid #e00013;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  z-index: 99;
}
button.adminDELETE:hover {
  border-color: #fff;
  background: #e00013;
  color: #fff;
}
img.adminCross {
  cursor: pointer;
}
.ant-select {
  position: relative;
  width: 200px;
  border: 2px solid #aeaeae;
  background: #fff;
  color: #000;
  margin-right: 30px !important;
}
.ant-select:hover {
  border-color: #aeaeae;
}

/* Admin Services */

.admin__sevices__wrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 16px 30px;
  background: #f5f5f5;
  border: 1px solid #e3cdba;
  max-height: calc(100vh - 180px);
  overflow-y: scroll;
}
.admin__services__btn {
  margin-bottom: 20px;
}
.admin__services__btn button {
  margin-right: 30px;
}
.admin__service__content__wrap {
  display: flex;
  flex-wrap: wrap;
}
.admin__service__comtent__box {
  width: 30%;
  min-height: 600px;
}
.ascb__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 5%;
  height: 45px;
}
.admin__sevices__wrap hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dcbfa5;
  margin-bottom: 20px;
}
.ascb__inputs {
  display: flex;
  flex-direction: column;
}
.ascb__inputs__insert {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}
.ascb__inputs__insert input {
  margin-bottom: 20px;
}
.ascb__inputs__img {
  position: relative;
}
.ascb__inputs__addImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.4);
}
.ascb__inputs__addImg input {
  display: none;
}
.ascb__inputs__img img {
  width: 100%;
  max-height: 460px;
}
.ascb__inputs__addImg label {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.ascb__inputs__addImg:hover label {
  background: rgba(0, 0, 0, 0.8);
}
.ascb__inputs__addNew {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdcdcd;
  min-height: 460px;
  max-height: 460px;
  cursor: pointer;
}
.ascb__inputs__addNew input {
  display: none;
}
.ascb__inputs__addNew label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.ascb__inputs__addNew img {
  width: 20%;
  transition: 0.3s;
  cursor: pointer;
}
.ascb__inputs__addNew-prev video {
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.ascb__inputs__addNew-prev img {
  width: 100%;
  object-fit: contain;
  transition: 0.3s;
  cursor: pointer;
}
.ascb__inputs__addNew:hover img {
  transform: scale(1.3);
}
.ascb__inputs__addNew-prev:hover img {
  transform: scale(1);
}

/* Admin Portfolio */

.admin__portfolio__title {
  display: flex;
  flex-direction: column;
}
.admin__portfolio__title input {
  width: 300px;
}
.admin__portfolio__wrap {
  position: relative;
}
.admin__sevices__wrap .portfolio__slideButton {
  right: 44%;
  top: -4%;
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change
  img {
  width: 100%;
  height: 100%;
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change {
  position: relative;
  width: 32%;
  margin: 5px;
  min-height: 400px;
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change:nth-child(even) {
  height: 32.5%;
  min-height: unset;
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change:nth-child(5) {
  transform: translateY(-34%);
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change
  input {
  display: none;
}
.admin__portfolio__wrap
  .portfolio__section
  ul#ul
  li
  .admin__portfolio__img__change
  label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.portfolioAddNew {
  background: #cdcdcd;
}
/* Admin Courses */

.adminCourses__wrap {
  display: flex;
  padding-top: 30px;
}
.adminCourses__box {
  height: 460px;
  width: 300px;
  padding: 25px;
}
.adminCourses__box hr {
  width: calc(100% + 50px);
  margin-left: -25px;
}
.adminCourses__box textarea {
  height: 60%;
}
.adminCourses__box input {
  margin-bottom: 20px;
}

/* Admin About */

.admin__about__box {
  margin-top: 30px;
  position: relative;
  padding: 25px;
  width: 100%;
}
.admin__about__box p.adminAbout__remainder {
  position: absolute;
  right: 5%;
  top: 11%;
}
.admin__about__box input {
  margin-bottom: 30px;
}
.admin__about__box textarea {
  padding-top: 10px;
  min-height: 520px;
}
p.adminAbout__remainder span {
  font-weight: 800;
}
.admin__about__photo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aap__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45%;
  overflow: hidden;
}
.aap__box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Admin__change {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.Admin__change input {
  display: none;
}
.Admin__change label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.Admin__change label:hover {
  transform: scale(1.1);
}

/* Admin Reviews */

.admin__reviews__BTN {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  min-height: 120px;
  max-height: 120px;
  align-items: baseline;
}
.admin__reviews__BTN .ant-select {
  margin-bottom: 20px;
}
.amdin__reviews__content__wrap {
  display: flex;
  flex-wrap: wrap;
}
.arcw__video__wrap {
  display: flex;
  margin-top: 30px;
  width: 100%;
}
.arcw__box {
  position: relative;
  width: 30%;
  margin-right: 30px;
}
.arcw__bottomImg img {
  width: 100%;
}
.arcw__video__wrap .arcw__box .ascb__inputs__addNew {
  min-height: 600px;
}
.arcw__box .Admin__change {
  margin-bottom: 2%;
}
.arcw__top {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  padding-right: 20px;
  background: #fff;
}
.arcw__top img {
  cursor: pointer;
}
.arcw__bottomImg {
  width: 100%;
}
.arcw__bottomImg video {
  width: 100%;
}
.arcw__text__wrap {
  display: flex;
}

/* Admin Instagram */

.AdminInst__wrap {
  display: flex;
  flex-wrap: wrap;
}
.admin__inst__box {
  position: relative;
  width: 30%;
  margin-top: 20px;
}
.aib__cross {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 47px;
}
.aib__cross img {
  margin-right: 15px;
  cursor: pointer;
}
.aib__input {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  margin-bottom: 15px;
}
.aib__img img {
  width: 100%;
}
.AdminInst__btn {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

/* Admin Feedback */

.admin__feedBack__select {
  margin-bottom: 30px;
}

.admin__feedback__toogle {
  display: flex;
  margin-bottom: 30px;
}
.admin__feedback__toogle input {
  display: none;
}
.admin__feedback__toogle label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: #fff;
  border: 2px solid#AEAEAE;
  box-sizing: border-box;
  color: #696969;
  cursor: pointer;
  margin-right: 20px;
}
.admin__feedback__table table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}
.admin__feedback__table table tr.adminTableTitle {
  background: #f5f5f5;
  border: none;
}
.admin__feedback__table table tr {
  border: 1px solid #dcbfa5;
  text-align: center;
  height: 48px;
}
.admin__feedback__table table tr th {
  font-weight: 400;
  font-family: Open Sans;
}
.admin__feedback__table table tr td {
  text-align: center;
  font-weight: 600;
}
.admin__feedback__table table tr td.adminTDActive {
  border-right: 1px solid #dcbfa5;
  cursor: pointer;
}
.admin__feedback__table table tr td.adminTDCross {
  border-left: 1px solid #dcbfa5;
  cursor: pointer;
}
.admin__aut__wrap {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin__aut__wrap .header__main__text {
  align-items: center;
}
.admin__aut__wrap .header__main {
  width: 80%;
  height: auto;
}
.admin__aut__wrap .header__bg {
  z-index: 1;
}
.admin__aut__wrap .header__main {
  z-index: 2;
}
.admin__aut__wrap .header__main .admin__header__input {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.admin__aut__wrap .header__main .admin__header__input input {
  margin-bottom: 15px;
  height: 35px;
  background: #fff;
  border: 1px solid #aa4d54;
  box-sizing: border-box;
}
.admin__aut__wrap .header__main .admin__header__input label {
  color: #aa4d54;
  font-weight: 500;
}
.admin__aut__wrap .header__main .admin__header__input button.adminAutBtn {
  margin-top: 10px;
  height: 40px;
  background: #aa4d54;
  border: 1px solid #aa4d54;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.admin__aut__wrap .header__main .admin__header__input button.adminAutBtn:hover {
  background: #fff;
  border: 1px solid #aa4d54;
  color: #aa4d54;
}
